.header {
    background-image: linear-gradient(to right, #3d83c2, #3592ca, #476fb8);
    margin: 0 auto;
    text-align: center !important;
    margin-top: -20rem;
}

.head {
    font-weight: 400;
    font-size: 6rem;
}

.subHead {
    font-size: 1.25rem;
    font-weight: 200;
    padding: 1rem;
    text-align: center;
}

.social {
    padding: 2rem 0 3rem 0;
}

.center {
    display: flex;
    justify-content: center;
}

.whiteText {
    color: white;
}
